# Binaries
/bin/
*.exe
*.dll
*.so
*.dylib

# Object files
*.o
*.obj

# Go workspace
go.work

# Dependency directories (vendor)
vendor/

# Environment files
.env

# Editor settings
.vscode/
.idea/

# Logs
*.log


# Test caches
testdata/

# Build artifacts
*.exe
*.out



